body{
	background: #141E30;
}
.pageTop {
	background: black;
}
.pageBottom{
	background: black;
}
.myNameTitle {
	color: #FFF;
}
.depName {
	color: rgba(255, 255, 255, 0.5);
}
p {
	color: AliceBlue;
}
