/* CV page specific CSS styles */
.pageContent {
  background-color: white;
  text-align: left;
  padding: 1em;
  padding-bottom: 1em;
  overflow: scroll;
}


.pageContent p{
  text-align: left;
  display: block;
  padding-bottom: 1em;
}

.cvSection {
  text-align: left;
}

.cvSection a{
  color: steelblue;
  text-decoration: none;
  font-style: italic;
}

.cvSection a:hover{
  color: lightgray;
}

.cvSection h2 {
  color: steelblue;
}

.cvSection li {
  margin: 1em;
}
