* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../pictures/wood.jpg");
}

.centerColumn{
  width:85%;
  margin: 0% 7.5%;
}

@media screen and (max-width: 800px) {
  .centerColumn{
    width: 100%;
    margin: 0% 0%;
  }
}

.pageTop {
  background-color: lightblue;
  display: block;
  color: white;
  position: static;
  height: 8em;
  width: 100%;
}

.pageTop .topTitle {
  display: block;
  float: right;
  text-align: right;
  margin: 1em 1em;
}

.pageTop .topImage{
  display: block;
  margin-left: 1em;
  margin-top: 1em;
  float: left;
}

.navBar {
  background-color: steelblue;
  display: block;
  text-align: right;
  width: 100%;
  height: 4em;
}
.navBar .navButton{
  text-decoration: none;
  font-size: 1.25em;
  color: white;
  display: inline-block;
  right: 0;
  height: 1.5em;
  margin: 1em;
}

.navBar .navButton:hover{
  color: lightgray;
}

.pageContent {
  background-color: white;
  text-align: left;
  padding: 1em;
  padding-bottom: 1em;
  overflow: scroll;
}


.pageContent p{
  text-align: left;
  display: block;
  padding-bottom: 1em;
}

.cvSection {
  text-align: left;
}

.cvSection a{
  color: steelblue;
  text-decoration: none;
  font-style: italic;
}

.cvSection a:hover{
  color: lightgray;
}

.cvSection h2 {
  color: steelblue;
}

.cvSection li {
  margin: 1em;
}

.pageContent img{
  	margin-bottom: 1em;
  	overflow: auto;
  	padding: 1em;
 }

 @media only screen and (min-width: 480px){
	.pageContent img{
      display: block;
  		float: right;
  		width: 55%;
  		max-height: 80%;
  	}
}

 @media only screen and (max-width: 480px){
  .pageContent img{
      display: none;
    }
}


.pageBottom {
  background-color: steelblue;
  text-align: center;
  display: block;
  float: bottom;
  height: 4em;
}

.pageBottom div{
  display: inline-block;
  margin: 1em 1em;
  color: white;

}
