/* Index-specific CSS styles */
.pageContent {
  background-color: white;
  text-align: left;
  padding: 1em;
  padding-bottom: 1em;
  overflow: scroll;
}


.pageContent p {
  color: black;
  text-align: left;
  display: block;
  margin: 1em;
}

.pageContent .introduction {
  color: steelblue;
  font-size: 1.3em;
}

.pageContent img {
  	padding: 1em;
    width: 100%;
    display: block;
 }

@media only screen and (min-width: 800px) {
  .pageContent img {
    display: block;
  	float: right;
  	width: 55%;
  }
}
