* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../pictures/wood.jpg");
}

table{
  table-layout: fixed;
  width:85%;
  margin: 0% 7.5%;
  border-bottom-width: 0px;
}

.pageTop {
  background-color: lightblue;
  display: block;
  color: white;
}

.pageTop .topTitle {
  display: inline-block;
  float: right;
  text-align: right;
  margin: 10px 10px;
}

.pageTop .topImage{
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

.navBar {
  background-color: steelblue;
  display: block;
  text-align: right;
  width: 100%;
}
.navBar td{
  color: white;
  display: inline-block;
  right: 0;
  height: 30px;
  margin: 20px;
}

.navBar td:hover{
  color: lightgray;
}

.pageMiddle {
  background-color: white;
  text-align: left;
  padding: 10px;
}

.pageMiddle p {
  color: black;
  text-align: justify;
  text-justify: inter-word;
  display: block;
  margin: 10px;
}

.pageMiddle img{
  display: inline-block;
  float: right;
  right: 0px;
  margin-bottom: 10px;
  width: 55%;
  overflow: auto;
  padding: 10px;
}
.pageBottom {
  background-color: steelblue;
  text-align: center;
  display: block;
}

.pageBottom td{
  display: inline-block;
  margin: 10px;
  color: white;
}
