/* Links page specific CSS styles */
.pageContent {
  background-color: white;
  text-align: center;
  padding: 1em;
  padding-bottom: 1em;
  overflow: scroll;
}


.pageContent p {
  color: black;
  text-align: left;
  display: block;
  margin: 1em;
}

.pageContent .introduction {
  color: steelblue;
  font-size: 1.3em;
}

.pageContent img {
   padding: 1em;
 }

.pageContent a{
   color: steelblue;
   text-decoration: none;
   font-style: italic;
 }

.pageContent h2{
  color: steelblue;
}

.pageContent a:hover{
  color: lightgray;
}

img.linkIcon {
  display: inline block;
  height: 8em;
  width: auto;
  background-color: white;
 }

@media only screen and (min-width: 800px) {
  .sidePicture img {
    display: block;
  	float: right;
  	width: 55%;
  }
}

 @media only screen and (max-width: 800px) {
  .sidePicture img {
    width: 100%;
    display: block;
  }
}
