/* Links page specific CSS styles */
.pageContent {
  background-color: white;
  text-align: center;
  padding: 1em;
  padding-bottom: 1em;
  overflow: scroll;
}


.pageContent p {
  color: black;
  text-align: left;
  display: block;
  margin: 1em;
}

.pageContent img {
   padding: 1em;
 }

 .pageContent h2{
   color: steelblue;
 }

.pageContent h2{
  color: steelblue;
}

img.linkIcon {
  display: inline block;
  height: 8em;
  width: auto;
  background-color: white;
 }

.sidePicture img {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 800px) {
  .sidePicture img {
    display: block;
  	float: right;
  	width: 55%;
  }
}
